@page
@model CRUDDemoModel
@{
    ViewData["Title"] = "Home page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id='crudcalendar' class="" container-fluid"></div>



<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create new event</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-4" for="title">Event title</label>
                        <input type="text" name="title" id="title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-4" for="starts-at">Starts at</label>
                        <input type="text" name="starts_at" id="starts-at" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-4" for="ends-at">Ends at</label>
                        <input type="text" name="ends_at" id="ends-at" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-event">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    // Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
// for details on configuring this project to bundle and minify static web assets.

// Write your Javascript code.

    document.addEventListener('DOMContentLoaded', function () {
        jQuery.noConflict();
    var calendarEl = document.getElementById('crudcalendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'resourceTimeline' ],
      now: '@DateTime.Now.ToString("yyyy-MM-dd")',
      defaultDate: '2021-06-01"',
      editable: true,
      aspectRatio: window.devicePixelRatio,
        scrollTime: '00:00',
        navLinks: true, // can click day/week names to navigate views
        selectable: true,
        selectHelper: true,
        select: function (start, end) {
            // Display the modal.
            // You could fill in the start and end fields based on the parameters
            //$('.modal').modal('show');

        },
        eventClick: function (event) {
            alert(event.title);
            // Display the modal and set the values to the event values.
            $('.modal').modal('show');
            $('.modal').find('#title').val(event.title);
            $('.modal').find('#starts-at').val(event.start);
            $('.modal').find('#ends-at').val(event.end);

        },
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'resourceTimelineDay,resourceTimelineThisMonths,timeGridWeek'
      },
      //defaultView: 'resourceTimelineDay',
      defaultView: 'resourceTimelineThisMonths',
      views: {
        resourceTimelineThisMonths: {
          type: 'resourceTimeline',
          duration: { days: 60 },
          buttonText: 'Month'
        }
      },
      resourceAreaWidth: '30%',
      resourceColumns: [
        {
          labelText: 'Project',
          field: 'title'
        },
        {
          labelText: 'Status',
          field: 'status'
        }
      ],
      resources:
      @Html.Raw(Model.Resources),
      events:@Html.Raw(Model.Events)
    });
calendar.setOption('height', window.innerHeight-100);
    calendar.render();
  });
</script>